@page
@using API.Controllers
@{
    if (!SecurityController.Auth())
    {
        Response.Redirect("../LoginView");
        return;
    }
    if (!SecurityController.HavePermission("HOME_ACCESS"))
    {
        //Response.Redirect("../permission_error");
        //return;
    }
}
<script src='~/Views/CatalogoTipoDetalleView.js' type='module'></script>
<div id='MainBody'></div>
