@page
@using API.Controllers
@{
    if (!SecurityController.Auth())
    {
        Response.Redirect("../LoginView");
        return;
    }
    if (!SecurityController.HavePermission("HOME_ACCESS"))
    {
        //Response.Redirect("../permission_error");
        //return;
    }
}
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TransactionLotesView"> TransactionLotes</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoCategoriasView"> CatalogoCategorias</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoPresentacionView"> CatalogoPresentacion</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoTipoDetalleLoteView"> CatalogoTipoDetalleLote</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TransactionEgresosLotesView"> TransactionEgresosLotes</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoTipoEgresoView"> CatalogoTipoEgreso</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoAlmacenView"> CatalogoAlmacen</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TransactionFacturaView"> TransactionFactura</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoOfertaEspecialView"> CatalogoOfertaEspecial</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoClientesView"> CatalogoClientes</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoProductoView"> CatalogoProducto</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoCaracteristicasView"> CatalogoCaracteristicas</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_PermissionsView"> Security_Permissions</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_RolesView"> Security_Roles</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_UsersView"> Security_Users</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_Permissions_RolesView"> Security_Permissions_Roles</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_Users_RolesView"> Security_Users_Roles</a>
