@page
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoAlmacenView"> CatalogoAlmacen</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoCaracteristicasView"> CatalogoCaracteristicas</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoCategoriasView"> CatalogoCategorias</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoClientesView"> CatalogoClientes</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoOfertaEspecialView"> CatalogoOfertaEspecial</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoPresentacionView"> CatalogoPresentacion</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoProductoView"> CatalogoProducto</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoTipoDetalleView"> CatalogoTipoDetalle</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesCatalogos/CatalogoTipoEgresoView"> CatalogoTipoEgreso</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TblCaracteristicasProductosView"> TblCaracteristicasProductos</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TblDetalleFacturaView"> TblDetalleFactura</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TblDetalleLotesView"> TblDetalleLotes</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TblEgresosLotesView"> TblEgresosLotes</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TblEquivalenciasPresentacionView"> TblEquivalenciasPresentacion</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TblFacturaView"> TblFactura</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/TblLotesView"> TblLotes</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_PermissionsView"> Security_Permissions</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_Permissions_RolesView"> Security_Permissions_Roles</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_RolesView"> Security_Roles</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_UsersView"> Security_Users</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Security_Users_RolesView"> Security_Users_Roles</a>
