.BTN {
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    color: #808080;
    border-radius: 0.2cm;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    font-weight: 100;
}
.BTNOk {
    color: #fbfbfb;
    background-color: #2482dc;
}
.BTNOk2 {
    color: #fbfbfb;
    background-color: #38983a;
}
.BTNCancel {
    color: #fbfbfb;
    background-color: #b03c22;
}
.FrmContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 0.3cm;
}
.TxtForm {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 0.2cm;
    border: none;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}
.FrmTable {
    width: 100%;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}
    .FrmTable th {
        color: #D5DDE5;
        background: #1b1e24;
        border-bottom: 4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 14px;
        font-weight: 100;
        padding: 10px;
        text-align: left;
        vertical-align: middle;
    }
    .FrmTable td {
        padding: 10px;
    } 
    .FrmTable tr:nth-child(odd) td {
        background: #EBEBEB;
    }
 