@page
@using SNI_UI2.Controllers;
@using CAPA_NEGOCIO.Security;
@{
    Layout = null;
    if (!SecurityController.Auth())
    {
        Response.Redirect("./Security/Login");
        return;
    }
    if (!SecurityController.HavePermission(PermissionsEnum.HOME_ACCESS.ToString()))
    {
        Response.Redirect("./Security/permission_error");
        return;
    }

}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./App.js" type="module"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body id="App">
    @if (SecurityController.IsAdmin())
    {
        <header id="Header" class="admin-header">
            <a href="~/Admin/Index">Admin Panel</a>
        </header>
    }
</body>

</html>