@page
@using SNI_UI2.Controllers
@{
    Layout = null;
    if (!SecurityController.Auth())
    {
        Response.Redirect("./Security/Login");
        return;
    }
    if (!SecurityController.HavePermission("HOME_ACCESS"))
    {
        Response.Redirect("./Security/permission_error");
        return;
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./App.js" type="module"></script>
</head>
<body id="App">
</body>
</html>