@using SNI_UI2.Controllers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] SNI ADMIN</title>
    <link rel="stylesheet" href="~/css/AdminTemplate.css" /> 
    <script type="module">
        import { WRender, WArrayF, ComponentsManager, WAjaxTools } from '../WDevCore/WModules/WComponentsTools.js';
        import { WCssClass } from '../WDevCore/WModules/WStyledRender.js';
        import { StyleScrolls } from "../WDevCore/StyleModules/WStyleComponents.js";
        import { headerClass } from '../MasterDomDetaills.js';
        Header.append(new headerClass());
        AdminTemplate.append(WRender.createElement(StyleScrolls));
    </script>
</head>
<body id="AdminTemplate">
    <nav id="Nav">
    </nav>
    <header id="Header">
    </header>
    <aside id="Aside">
    </aside>
    <div id="MainContainer">
        <main role="main" id="Main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
