#AdminTemplate {
    display: grid;
    grid-template-rows: 70px calc(100vh - 70px);
    grid-template-columns: 240px calc(100% - 240px);
    padding: 0px;
    margin: 0px;
    font-family:"Poppins", sans-serif;
}
#Nav {
    background-color: #202020;
}
#Header {
    background-color: #d3d4d6;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}
#Aside {
    background-color: rgb(27, 27, 27);
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
}
#Aside h3{
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0px;
    font-weight: 400;
}
#MainContainer {
    background-color: #f1f3f7 ;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
#Main {
    background-color: #fff ;
    border-radius: 0.3cm;
    min-height: 500px;
    box-shadow: 0 0 5px 0 #b3b3b3;
    margin: 0px;
    padding: 20px;
}
