:root {
    --primary-color: rgb(1, 19, 63);
    --secundary-color: rgb(57, 28, 77);
    --tertiary-color: rgb(195, 195, 195);
    --fourth-color: rgb(255, 255, 255);
    --font: arial;
    --font-primary-color: #ffffff;
    --font-secundary-color: #ffffff;
    --font-tertiary-color: #3d3b3b;
    --font-fourth-color: #2c2c2c;
}