:root {
    --primary-color: rgb(9, 68, 108);
    --secundary-color: rgb(255, 255, 255);
    --tertiary-color: rgba(0, 0, 0, 0);
    --fourth-color: rgba(255, 255, 255, 0.9);;
    --font: "Open Sans", sans-serif;
    --font-primary-color: #ffffff;
    --font-secundary-color: #ffffff;
    --font-tertiary-color: rgb(0, 191, 165);
    --font-fourth-color: #595959;
}