USE [master]
GO
/****** Object:  Database [SIAC_BD]    Script Date: 25/2/2022 16:31:08 ******/
CREATE DATABASE [SIAC_BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIAC_BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SIAC_BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SIAC_BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SIAC_BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIAC_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIAC_BD]
GO
/****** Object:  Table [dbo].[CatDependencias]    Script Date: 25/2/2022 16:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatDependencias](
	[IdDependencia] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[IdDependenciaP] [int] NULL,
 CONSTRAINT [PK_CatDependencias] PRIMARY KEY CLUSTERED 
(
	[IdDependencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatTipoParticipaciones]    Script Date: 25/2/2022 16:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatTipoParticipaciones](
	[IdTipoParticipacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_CatTipoParticipaciones] PRIMARY KEY CLUSTERED 
(
	[IdTipoParticipacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblActividades]    Script Date: 25/2/2022 16:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblActividades](
	[IdActividad] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](250) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[IdUsuario] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicial] [datetime] NULL,
	[Feccha_Final] [datetime] NULL,
 CONSTRAINT [PK_TblActividades] PRIMARY KEY CLUSTERED 
(
	[IdActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblAgendas]    Script Date: 25/2/2022 16:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAgendas](
	[IdAgenda] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdDependencia] [int] NULL,
	[Dia] [nvarchar](50) NULL,
	[Hora_Inicial] [nvarchar](50) NULL,
	[Hora_Final] [nvarchar](50) NULL,
	[Fecha_Caducidad] [datetime] NULL,
 CONSTRAINT [PK_TblAgendas] PRIMARY KEY CLUSTERED 
(
	[IdAgenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblEvidencias]    Script Date: 25/2/2022 16:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEvidencias](
	[IdEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[IdTipo] [int] NULL,
	[Data] [nvarchar](max) NULL,
	[IdActividad] [int] NULL,
 CONSTRAINT [PK_TblEvidencias] PRIMARY KEY CLUSTERED 
(
	[IdEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblParticipantes]    Script Date: 25/2/2022 16:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblParticipantes](
	[IdUsuario] [int] NULL,
	[IdActividad] [int] NULL,
	[IdTipoParticipacion] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPermanencia]    Script Date: 25/2/2022 16:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPermanencia](
	[IdPermanencia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblPermanencia] PRIMARY KEY CLUSTERED 
(
	[IdPermanencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUsuario]    Script Date: 25/2/2022 16:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUsuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[IdDependencia] [int] NULL,
 CONSTRAINT [PK_TblUsuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CatDependencias] ON 

INSERT [dbo].[CatDependencias] ([IdDependencia], [Descripcion], [IdDependenciaP]) VALUES (1, N'Permanencia', NULL)
INSERT [dbo].[CatDependencias] ([IdDependencia], [Descripcion], [IdDependenciaP]) VALUES (2, N'USAV', 6)
INSERT [dbo].[CatDependencias] ([IdDependencia], [Descripcion], [IdDependenciaP]) VALUES (3, N'LAB1', 6)
SET IDENTITY_INSERT [dbo].[CatDependencias] OFF
GO
SET IDENTITY_INSERT [dbo].[TblAgendas] ON 

INSERT [dbo].[TblAgendas] ([IdAgenda], [IdUsuario], [IdDependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (1, 1, 2, N'Lunes', N'8:00', N'12:00', CAST(N'2022-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[TblAgendas] ([IdAgenda], [IdUsuario], [IdDependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (2, 1, 2, N'Martes', N'8:00', N'12:00', CAST(N'2022-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[TblAgendas] ([IdAgenda], [IdUsuario], [IdDependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (3, 1, 2, N'Miercoles', N'8:00', N'12:00', CAST(N'2022-12-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TblAgendas] OFF
GO
SET IDENTITY_INSERT [dbo].[TblUsuario] ON 

INSERT [dbo].[TblUsuario] ([IdUsuario], [Nombres], [Apellidos], [IdDependencia]) VALUES (1, N'Wilber Jose', N'Matus G', 2)
SET IDENTITY_INSERT [dbo].[TblUsuario] OFF
GO
ALTER TABLE [dbo].[CatDependencias]  WITH CHECK ADD  CONSTRAINT [FK_CatDependencias_CatDependencias] FOREIGN KEY([IdDependenciaP])
REFERENCES [dbo].[CatDependencias] ([IdDependencia])
GO
ALTER TABLE [dbo].[CatDependencias] CHECK CONSTRAINT [FK_CatDependencias_CatDependencias]
GO
ALTER TABLE [dbo].[TblAgendas]  WITH CHECK ADD  CONSTRAINT [FK_TblAgendas_CatDependencias] FOREIGN KEY([IdDependencia])
REFERENCES [dbo].[CatDependencias] ([IdDependencia])
GO
ALTER TABLE [dbo].[TblAgendas] CHECK CONSTRAINT [FK_TblAgendas_CatDependencias]
GO
ALTER TABLE [dbo].[TblAgendas]  WITH CHECK ADD  CONSTRAINT [FK_TblAgendas_TblUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TblUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[TblAgendas] CHECK CONSTRAINT [FK_TblAgendas_TblUsuario]
GO
ALTER TABLE [dbo].[TblEvidencias]  WITH CHECK ADD  CONSTRAINT [FK_TblEvidencias_TblActividades] FOREIGN KEY([IdActividad])
REFERENCES [dbo].[TblActividades] ([IdActividad])
GO
ALTER TABLE [dbo].[TblEvidencias] CHECK CONSTRAINT [FK_TblEvidencias_TblActividades]
GO
ALTER TABLE [dbo].[TblParticipantes]  WITH CHECK ADD  CONSTRAINT [FK_TblParticipantes_CatTipoParticipaciones] FOREIGN KEY([IdTipoParticipacion])
REFERENCES [dbo].[CatTipoParticipaciones] ([IdTipoParticipacion])
GO
ALTER TABLE [dbo].[TblParticipantes] CHECK CONSTRAINT [FK_TblParticipantes_CatTipoParticipaciones]
GO
ALTER TABLE [dbo].[TblParticipantes]  WITH CHECK ADD  CONSTRAINT [FK_TblParticipantes_TblActividades] FOREIGN KEY([IdActividad])
REFERENCES [dbo].[TblActividades] ([IdActividad])
GO
ALTER TABLE [dbo].[TblParticipantes] CHECK CONSTRAINT [FK_TblParticipantes_TblActividades]
GO
ALTER TABLE [dbo].[TblParticipantes]  WITH CHECK ADD  CONSTRAINT [FK_TblParticipantes_TblUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TblUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[TblParticipantes] CHECK CONSTRAINT [FK_TblParticipantes_TblUsuario]
GO
ALTER TABLE [dbo].[TblUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TblUsuario_CatDependencias] FOREIGN KEY([IdDependencia])
REFERENCES [dbo].[CatDependencias] ([IdDependencia])
GO
ALTER TABLE [dbo].[TblUsuario] CHECK CONSTRAINT [FK_TblUsuario_CatDependencias]
GO
USE [master]
GO
